h1 {
  --font-multiplier: 2.40;
}

h2 {
  --font-multiplier: 2.00;
}

h3 {
  --font-multiplier: 1.30;
}

h4 {
  --font-multiplier: 1.00;
}

h5 {
  --font-multiplier: 1.00;
}

h6 {
  --font-multiplier: 1.00;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.85em;
  font-weight: 400;
  font-size: calc(var(--font-multiplier, 1) * 1rem);
  line-height: calc(2 / var(--font-multiplier, 1.5) * 1em);
}

/* Margin-top for headings after a typography block */
:where(address, blockquote, dl, figure, form, ol, p, pre, table, ul) {
  ~ :is(h1, h2, h3, h4, h5, h6) {
    margin-top: var(--typography-spacing-vertical);
  }
}

/* Heading group */
hgroup {
  margin-bottom: var(--typography-spacing-vertical);

  > * {
    margin-bottom: 0;
  }

  > *:last-child {
    --color: var(--muted-color);
    --font-weight: unset;
    font-size: 1rem;
    font-family: unset;
  }
}
