:root {
  --content-padding-top: 7rem;
  scroll-padding-top: var(--content-padding-top);
}

body {
  padding-top: var(--content-padding-top);
}

.content-with-aside {
  padding-inline: var(--spacing);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--grid-spacing-horizontal);

  > aside {
    flex-basis: 12rem;
    flex-grow: 1;
  }

  > main {
    width: 30rem;
    flex-grow: 9999; /* make the main grow faster then aside */
  }
}

/* 45rem = 30rem + 12rem + --spacing * 3 */
@media (min-width: 45rem) {
  .content-with-aside > aside {
    position: sticky;
    top: var(--content-padding-top);
  }
}
