:root {
  --content-padding-block-start: 7rem;
  --content-max-width: 60em;
  --footer-height: 6rem;
  scroll-padding-top: var(--content-padding-block-start);
}

.content-with-aside {
  padding-block: var(--content-padding-block-start) 20vh;
  padding-inline: var(--spacing);
  margin-inline: auto;
  max-width: var(--content-max-width);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--grid-spacing-horizontal);

  > aside {
    flex-basis: 12rem;
    flex-grow: 1;

    li a {
      font-size: 0.9em;
      padding-block: calc(var(--nav-link-spacing-vertical) / 2);
      padding-inline: calc(var(--nav-link-spacing-horizontal) * 2);
      color: var(--secondary);
    }

    li.active a {
      color: var(--primary);
    }

    li a:hover {
      color: var(--primary-hover);
    }
  }

  > main {
    width: 30rem;
    flex-grow: 9999; /* make the main grow faster then aside */
  }
}

/* 45rem = 30rem + 12rem + --spacing * 3 */
@media (min-width: 45rem) {
  .content-with-aside > aside {
    position: sticky;
    top: var(--content-padding-block-start);
  }
}
