:root {
  --content-padding-top: 7rem;
  --footer-height: 6rem;
  scroll-padding-top: var(--content-padding-top);
}

.content-with-aside {
  background: var(--background-color);
  padding: var(--content-padding-top) var(--spacing) 30vh var(--spacing);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--grid-spacing-horizontal);

  /* footer */
  margin-bottom: var(--footer-height);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);

  > aside {
    flex-basis: 12rem;
    flex-grow: 1;

    li a {
      font-size: 0.9em;
      padding: calc(var(--nav-link-spacing-vertical) / 2) calc(var(--nav-link-spacing-horizontal) * 2);
      color: var(--secondary);
    }

    li.active a {
      color: var(--primary);
    }

    li a:hover {
      color: var(--primary-hover);
    }
  }

  > main {
    width: 30rem;
    flex-grow: 9999; /* make the main grow faster then aside */
  }
}

/* 45rem = 30rem + 12rem + --spacing * 3 */
@media (min-width: 45rem) {
  .content-with-aside > aside {
    position: sticky;
    top: var(--content-padding-top);
  }
}
