:root {
  --nav-background-color: rgba(215, 215, 215, 0.4);
  --nav-backdrop-filter: saturate(180%) blur(20px);

  &[data-theme="dark"] {
    --nav-background-color: rgba(0, 0, 0, 0.4);
  }
}

nav[aria-label="Primary"] {
  backdrop-filter: var(--nav-backdrop-filter);
  background-color: var(--nav-background-color);
  padding-inline: var(--spacing);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  ul:first-child {
    margin-inline-start: max(calc(100vw / 2 - var(--content-max-width) / 2), 1px);
  }

  ul:last-child {
    margin-inline-end: max(calc(100vw / 2 - var(--content-max-width) / 2), 1px);
  }

  form {
    padding: 0;
    margin: 0;
    width: 7.3em;
    transition: width 200ms ease-in;
    transform-origin: right;

    &:focus-within {
      width: 15em;
    }
  }

  input[type="search"] {
    --form-element-spacing-vertical: var(--nav-link-spacing-vertical);
  }

  .brand {
    color: var(--text-color);
    margin-inline-start: calc(var(--nav-element-spacing-horizontal) * -1);

    &:before {
      background-color: hsla(var(--primary-600--hsl), 0.15);
      font-family: var(--font-family-mono);
      content: 'Z';
      color: var(--primary);
      line-height: 1;
      padding-inline: 0.6em;
      padding-block: 0.4em;
      margin-inline-end: 0.5em;
      border: 2px solid var(--primary);
      border-start-start-radius: 30%;
      border-end-end-radius: 30%;
      display: inline-block;
    }

    &:hover {
      color: var(--color);
    }
  }
}
