/**
 * Card (<article>)
 */

.card {
  background: var(--card-background-color);
  box-shadow: var(--card-box-shadow);
  margin-block: var(--block-spacing-vertical);
  margin-inline: 0;
  padding-block: var(--block-spacing-vertical);
  padding-inline: var(--block-spacing-horizontal);
  border-radius: var(--border-radius);

  > header,
  > footer {
    background-color: var(--card-sectionning-background-color);
    margin-inline: calc(var(--block-spacing-horizontal) * -1) calc(var(--block-spacing-horizontal) * -1);
    padding-block: calc(var(--block-spacing-vertical) * 0.66);
    padding-inline: var(--block-spacing-horizontal);
  }

  > header {
    margin-block: calc(var(--block-spacing-vertical) * -1) var(--block-spacing-vertical);
    border-bottom: var(--border-width) solid var(--card-border-color);
    border-start-end-radius: var(--border-radius);
    border-start-start-radius: var(--border-radius);
  }

  > footer {
    margin-block: var(--block-spacing-vertical) calc(var(--block-spacing-vertical) * -1);
    border-top: var(--border-width) solid var(--card-border-color);
    border-end-end-radius: var(--border-radius);
    border-end-start-radius: var(--border-radius);
  }
}
