/**
 * Modal (<dialog>)
 */

:root {
  --scrollbar-width: 0px;
}

dialog {
  display: flex;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: inherit;
  min-width: 100%;
  height: inherit;
  min-height: 100%;
  padding: var(--spacing);
  border: 0;
  backdrop-filter: var(--modal-overlay-backdrop-filter);
  background-color: var(--modal-overlay-background-color);
  color: var(--color);

  /* Content */
  article {
    max-height: calc(100vh - var(--spacing) * 2);
    overflow: auto;

    > header,
    > footer {
      padding-block: calc(var(--block-spacing-vertical) * 0.5);
      padding-inline: var(--block-spacing-horizontal);
    }

    > header {
      .close {
        margin: 0;
        margin-inline-end: var(--spacing);
        float: right;
      }
    }

    > footer {
      text-align: right;

      [role="button"] {
        margin-block-end: 0;

        &:not(:first-of-type) {
          margin-inline-start: calc(var(--spacing) * 0.5);
        }
      }
    }

    p {
      &:last-of-type {
        margin: 0;
      }
    }
  }

  /* Closed state */
  &:not([open]),
  &[open="false"] {
    display: none;
  }
}

/* Utilities */
.modal-is-open {
  padding-inline-end: var(--scrollbar-width, 0px);
  overflow: hidden;
  pointer-events: none;
  touch-action: none;

  dialog {
    pointer-events: auto;
  }
}

:where(.modal-is-opening, .modal-is-closing) {
  dialog,
  dialog > article {
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }

  dialog {
    animation-duration: calc(var(--animation-duration) * 4);
    animation-name: modal-overlay ;

    > article {
      animation-duration: var(--animation-duration);
      animation-name: modal;
    }
  }
}

.modal-is-closing {
  dialog,
  dialog > article {
    animation-delay: 0s;
    animation-direction: reverse;
  }
}

@keyframes modal-overlay {
  from {
    backdrop-filter: none;
    background-color: transparent;
  }
}

@keyframes modal {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
}
